* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.diff {
    display: inline-block;
}

.money-container {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 5vh;
}

.slide-container {
    min-width: 40%;
    display: flex; 
    flex-direction: column;
    border: 1px solid rgb(119, 67, 67);
    box-shadow: 2px 2px 2px 1px rgba(184, 38, 38, 0.842);
    border-radius: 30px;
    overflow: hidden;
    height: 10vh;
    align-items: center;
    justify-content: center;
}

.slide {
    padding-left: 10px;
    animation: 25s left-to-right;
    animation-iteration-count: infinite;
    text-align: 'end'; 
    display: 'block'; 
    align-items: 'end'; 
    flex-direction: 'column'; 
    justify-content: 'center';
    margin-top: 1vh;
}


.logout-btn {
    display: flex;
    align-items: center;
}

@keyframes left-to-right {
    0% {
       transform: translateX(0)
    }

    25% {
        transform: translateX(5vw)
    }
    50% {
        transform: translateX(0)
    }
    75% {
        transform: translateX(-5vw)
    }
    100% {
        transform: translateX(0)
    }
 }

 @media (max-width: 685px) { 

.money-container {
    flex-direction: column;
    padding: 10vh;
}

.slide-container {
    min-width: 60%;
    margin: auto;
}

.logout-btn {
    margin: auto;
    padding-top: 5vh;
}

.slide {
    animation: none;
    text-align: center;
}

.date {
    text-align: center;
}
}

@media (max-width: 300px) { 

    
.slide-container {
    min-width: 80%;
    padding: 5px;
    border: none;
    box-shadow: none;
}   
}